[submodule "conf/kconfig"]
	path = conf/kconfig
	url = https://gitlab.igi.cnr.it/rigoni/autoconf-kconfig.git
[submodule "conf/autoconf-archive"]
	path = conf/autoconf-archive
	url = https://gitlab.igi.cnr.it/rigoni/autoconf-archive
